.portfolioTitle {
    margin-top: 200px;
    font-size: 50px;
    font-weight: 600;
    color: #eaac7b;
    text-align: center; /* Centre le titre dans son conteneur */
    position: relative; /* Nécessaire pour positionner les ::before et ::after */
}

.portfolioTitle::before,
.portfolioTitle::after {
    content: ""; /* Ajoute un élément vide */
    position: absolute;
    top: 50%; /* Centre verticalement le trait par rapport au texte */
    width: 280px; /* Longueur du trait */
    height: 4px; /* Épaisseur du trait */
    background-color: #eaac7b; /* Couleur identique au titre */
}

.portfolioTitle::before {
    left: -300px; /* Place le trait avant le texte */
}

.portfolioTitle::after {
    right: -300px; /* Place le trait après le texte */
}