@keyframes scrollCarousel {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.portfolioTitle {
    margin-top: 200px;
    font-size: 50px;
    font-weight: 600;
    color: #eaac7b;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 20px; 
    position: relative;
}

.portfolioTitle::before,
.portfolioTitle::after {
    content: "";
    width: 20vw; 
    height: 4px; 
    background-color: #eaac7b; 
}

.carouselItem {
    min-width: 300px;
    flex-shrink: 0; 
    transition: transform 0.3s;
    text-align: center;
    display: flex;
    color: #f2f8fe;
    flex-direction: column;
    overflow: hidden;
}
.carousel {
    display: flex;
    gap: 15px;
    will-change: transform;
    overflow: hidden;
    white-space: nowrap;
}
.carouselItem:hover {
    transform: scale(1.05);
}

.carouselItem img {
    max-height: 500px;
    border-radius: 5px;
}

.imageModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fond noir transparent */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 500;
}

.imageModal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
}

.imageModal:after {
    content: "Click to close";
    position: absolute;
    bottom: 10%;
    font-size: 1rem;
    color: #fff;
}
.carouselContainer{
    background-color: rgba(0, 0, 0, 0.3); /* Fond noir transparent */
    padding-top: 25px;
}
/* Smartphones (petits) */
@media (max-width: 480px) {
    .portfolioTitle{
        scale: 0.7;
    }
    .carouselContainer{
        margin-top: -50px;
        scale: 0.7;
    }
}

/* Smartphones (moyens) */
@media (min-width: 481px) and (max-width: 767px) {
    body {
        font-size: 16px;
    }
}

/* Tablettes */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 18px;
    }
}

/* Petits ordinateurs */
@media (min-width: 1025px) and (max-width: 1366px) {
    body {
        font-size: 20px;
    }
}

/* Grands écrans */
@media (min-width: 1367px) {
    body {
        font-size: 22px;
    }
}
