.titleContact {
    margin-top: 200px;
    font-size: 50px;
    font-weight: 600;
    color: #eaac7b;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 20px; 
    position: relative;
}

.titleContact::before,
.titleContact::after {
    content: "";
    width: 20vw; 
    height: 4px; 
    background-color: #eaac7b; 
}
.contactsContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6); 
    font-weight: 700;
    font-size: 25px;
    width: 95vw;
}

.contactsContainer ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    gap: 25px
}
.contactsContainer a{
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #f2f8fe;
    text-decoration: underline;
}

.copyrightFooter{
    font-size: 15px;
}

/* Smartphones (petits) */
@media (max-width: 480px) {
    .titleContact{
        scale: 0.7;
    }
    .contactsContainer{
        width: 100vw;
    }
    .contactsContainer ul {
        font-size: 12px;
        flex-direction: column;
        align-items: center;
    }
    .copyrightFooter{
        display: flex;
        font-size: 12px;
        align-items: center;
    }
}

/* Smartphones (moyens) */
@media (min-width: 481px) and (max-width: 767px) {
    body {
        font-size: 16px;
    }
}

/* Tablettes */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 18px;
    }
}

/* Petits ordinateurs */
@media (min-width: 1025px) and (max-width: 1366px) {
    body {
        font-size: 20px;
    }
}

/* Grands écrans */
@media (min-width: 1367px) {
    body {
        font-size: 22px;
    }
}
