.header{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100vw;
    background-image: url(../../assets/webp/trame.webp);
    background-repeat: none;
    background-size: cover;
    z-index: 9999;
}
.titreHeader{ 
    color: #eaac7b; 
    font-weight: 600; 
    font-size: 50px;
}
.navContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.navContainer a{
    text-decoration: underline;
    color: #f2f8fe;
}
.navContainer ul {
    list-style: none;
    display: flex;
    justify-content: space-around; 
    width: 100%; 
    padding: 0; 
    margin: 0;
}
.navContainer li {
    padding-left: 50px;
    font-weight: 500;
    font-size: 40px;
    text-align: center; 
}
.headerContainer{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}