:root {
  font-family: 'Cinzel', sans-serif;
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  text-rendering: optimizeLegibility; /* Meilleure lisibilité */
}


.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cinzel', sans-serif;
  background-image: url(/public/trame.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  gap: 100px
}