@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

:root{
  font-family: 'Cinzel', sans-serif;

}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cinzel', sans-serif;
  background-image: url(./assets/webp/trame.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  gap: 100px
}